[submodule "data/curriculum-doelen"]
	path = data/curriculum-doelen
	url = https://github.com/slonl/curriculum-doelen.git
[submodule "data/curriculum-inhouden"]
	path = data/curriculum-inhouden
	url = https://github.com/slonl/curriculum-inhouden.git
[submodule "data/curriculum-kerndoelen"]
	path = data/curriculum-kerndoelen
	url = https://github.com/slonl/curriculum-kerndoelen.git
[submodule "data/curriculum-leerdoelenkaarten"]
	path = data/curriculum-leerdoelenkaarten
	url = https://github.com/slonl/curriculum-leerdoelenkaarten.git
[submodule "data/curriculum-examenprogramma"]
	path = data/curriculum-examenprogramma
	url = https://github.com/slonl/curriculum-examenprogramma/
[submodule "data/doelgroepteksten"]
	path = data/doelgroepteksten
	url = https://github.com/slonl/doelgroepteksten.git
[submodule "data/curriculum-doelgroepteksten"]
	path = data/curriculum-doelgroepteksten
	url = https://github.com/slonl/curriculum-doelgroepteksten.git
[submodule "data/curriculum-leerplaninbeeld"]
	path = data/curriculum-leerplaninbeeld
	url = https://github.com/slonl/curriculum-leerplaninbeeld
[submodule "data/curriculum-syllabus"]
	path = data/curriculum-syllabus
	url = https://github.com/slonl/curriculum-syllabus.git
[submodule "data/curriculum-examenprogramma-bg"]
	path = data/curriculum-examenprogramma-bg
	url = https://github.com/slonl/curriculum-examenprogramma-bg
