[submodule "curriculum-doelen"]
	path = curriculum-doelen
	url = https://github.com/slonl/curriculum-doelen.git
	branch = doelgroepteksten
[submodule "curriculum-inhouden"]
	path = curriculum-inhouden
	url = https://github.com/slonl/curriculum-inhouden.git
	branch = doelgroepteksten
[submodule "curriculum-kerndoelen"]
	path = curriculum-kerndoelen
	url = https://github.com/slonl/curriculum-kerndoelen.git
	branch = doelgroepteksten
[submodule "curriculum-examenprogramma"]
	path = curriculum-examenprogramma
	url = https://github.com/slonl/curriculum-examenprogramma.git
	branch = doelgroepteksten
[submodule "curriculum-syllabus"]
	path = curriculum-syllabus
	url = https://github.com/slonl/curriculum-syllabus.git
	branch = doelgroepteksten
[submodule "curriculum-leerdoelenkaarten"]
	path = curriculum-leerdoelenkaarten
	url = https://github.com/slonl/curriculum-leerdoelenkaarten.git
